<div class="row">
  <div ng-show="!vm.hostGame" class="lobby col-md-8">
    <h1>Lobby</h1>
    <h3>Current Games:</h3>
    <div ng-repeat="game in vm.hostedGames">
      <h4 class="lobby-join">{{game.gameOptions}} - hosted by: {{game.hostUser}}</h4>
    </div>
    <button ng-click="vm.hostGame = !vm.hostGame" class="btn btn-primary" type="button" name="button">Host Game</button>
  </div>
  <div  ng-show="vm.hostGame" class="lobby col-md-8">
    <h1>Game Options</h1>
    <select ng-model="gameChoice">
      <option value="invaders">Space Invaders</option>
      <option value="webgl">Webgl</option>
    </select>
    <a ng-click="vm.startHosting(gameChoice)" ng-href={{gameChoice}}><button class="btn btn-primary" type="button" name="button">Host Game</button></a>
    <button ng-click="vm.hostGame = !vm.hostGame" class="btn btn-primary" type="button" name="button">Cancel</button>
  </div>

  <div class="col-md-4 lobby-side">
    <aj-chat myUsername="myUsername"></aj-chat>
  </div>
</div>
