<div class="row">
  <div ng-show="!vm.hostGame" class="lobby col-md-8">
    <h1>Lobby</h1>
    <h3>Current Games:</h3>
    <div ng-repeat="game in vm.hostedGames track by $index">
      <a ng-href={{game.gameOptions.game}}><h3 ng-click="vm.joinGame(game)" class="lobby-join">Join Game - Hosted By: {{game.hostUser}}</h3></a>
    </div>
    <a ng-click="vm.startHosting()" ng-href="arenajs"><button class="btn btn-default" type="button" name="button">Host Game</button></a>
  </div>
  <div  ng-show="vm.hostGame" class="lobby col-md-8">
    <h1>Game Options</h1>
    <br>
    <br>
    <label>Game:</label>
    <select ng-model="gameChoice">
      <option value="arenajs">ArenaJS</option>
      <option value="invaders">Space Invaders</option>
      <!-- <option value="webgl">Webgl</option> -->
    </select>
    &nbsp;
    <!-- <label>Players:</label> -->
    <!-- <input ng-model="numPlayers" class="input-numPlayers" type="number" name="numPlayers"> -->
    <br>
    <br>
    <br>
    <a ng-click="vm.startHosting(gameChoice, numPlayers)" ng-href={{gameChoice}}><button class="btn btn-default" type="button" name="button">Host Game</button></a>
    <button ng-click="vm.hostGame = !vm.hostGame" class="btn btn-default" type="button" name="button">Cancel</button>
  </div>

  <div class="col-md-4 lobby-side">
    <aj-users></aj-users>
    <aj-chat></aj-chat>
  </div>
</div>
