body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {
  height: 100%;
  border-right: 3px solid black;
  padding: 0;
}
.main-imagearea {
  background-image: url("/images/arenamain.jpg");
  width: 100%;
  height: 550px;
  margin-top: -20px;
  color: white;
  text-align: center;
}
.main-imagearea h1 {
  padding-top: 30px;
}
.main-desctext {
  text-align: center;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
.main-side {
  text-align: center;
  padding-top: 30px;
}
.main-side h3 {
  padding-top: 80px;
}
.main-side p {
  padding: 30px;
}
.lobby {
  height: 100%;
  border-right: 3px solid black;
  text-align: center;
}
.lobby-join {
  background-color: #5c0e0a;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
  color: white;
}
.btn-primary {
  margin-top: 100px;
}
#gameCanvas {
  background-color: #232E37;
}
