@font-face {
  font-family: Base;
  src: url(Base.ttf);
}
@font-face {
  font-family: NEUROPOL;
  src: url(FSQUARE.ttf);
}

body {
  font-family: NEUROPOL;
  background-color: #220605;
  color: white;
  font-size: 1.75rem;
}
a {
  color: #ffb222;
}
input {
  color: black;
}
select {
  color: black;
}
.btn-default {
  background-color: #ffb222;
  border: #ffb222;
  color: white;
  font-size: 2rem;
}
/*.btn-default:hover {
  background-color: #C8F27B;
  border: #C8F27B;
}*/
.h1-logo {
  font-family: Base;
  color: #e5680a;
  font-size: 70px;
}
.main {
  height: 100%;
  /*border-right: 3px solid #5FB0B7;*/
  padding: 0;
}
.main-imagearea {
  background-image: url("/images/arenamain.jpg");
  width: 100%;
  height: 550px;
  margin-top: -20px;
  color: white;
  text-align: center;
}
.main-imagearea h1 {
  padding-top: 30px;
}
.main-desctext {
  text-align: center;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #3B3632;
  border: 1px solid #524B45;
  border-radius: 15px;
  margin: 20px;
  margin-left: 30px;
}
.main-about {
  background-color: #3B3632;
  border: 1px solid #524B45;
  border-radius: 15px;
  margin-right: 15px;
  margin-top: 20px;
  /*padding: 20px;*/
}
.main-side {
  text-align: center;
  padding-top: 10px;
}
.main-side h3 {
  margin-top: 30px;
  padding-top: 30px;
}
.main-side p {
  padding: 30px;
  padding-top: 10px;
}
.main-login {
  background-color: #3B3632;
  border: 1px solid #524B45;
  border-radius: 15px;
  margin-right: 15px;
  padding: 20px;
}
.lobby {
  height: 100%;
  text-align: center;
  border-radius: 15px;
  /*margin: 30px;*/
  padding: 20px;
  padding-right: 100px;
}
.lobby-join {
  background-color: #e5680a;
  border: 1px solid #ffb222;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  color: white;
}
.btn-primary {
  margin-top: 100px;
}
#gameCanvas {
  background-color: #232E37;
}
.form-horizontal {
  margin-left: 300px;
}
.input-numPlayers {
  width: 40px;
  border-radius: 5px;
}
.chat-div {
  background-color: #3B3632;
  border: 1px solid #524B45;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.div-currentusers {
  background-color: #3B3632;
  border: 1px solid #524B45;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.div-currentusers ul {
  list-style: none;
}
.logo-cont {
  text-align: center;
}
#waiting {
  text-align: center;
  padding-top: 10px;
  font-size: 26px;
}





/*    Q3GL Directive Style   
      Imported from Tojicode    */

#stats {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    pointer-events: none;
}

#viewport-frame, #webgl-error {
    position: relative;
    margin: auto;
    width: 854px;
    height: 480px;
}

#viewport {
    width: 854px;
    height: 480px;
    cursor: move;
    text-align: center;
    background-color: black;
    display: none;
}

#viewport-info {
    position: relative;
    margin: auto;
    width: 854px;
}

#viewport-info h3 {
    margin: 2px;
}

#viewport-info ul {
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
}

#controls, #config {
    float: left;
    width: 411px;
    height: 120px;
    margin: 5px;
    margin-top: 10px;
    padding: 3px;
    background-image: url('../images/clang_floor2.png');
    background-color: #3B3632;
    border: 1px solid #524B45;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#config {
    text-align: right;
}

#fullscreenBtn {
    cursor: pointer;
}

#vrBtn {
    cursor: pointer;
}

#viewport-frame:-moz-full-screen, :-moz-full-screen canvas, canvas:-moz-full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#viewport-frame:-webkit-full-screen, :-webkit-full-screen canvas, canvas:-webkit-full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#loading {
    position: relative;
    margin: auto;
    top: 200px;
    padding: 10px;
    border: 2px solid #666;
    border-radius: 5px;
    width: 200px;
    z-index: 5;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
}

#mobileVrBtn {
    position: absolute;
    bottom: 1em;
    right: 4em;
}

#mobileFullscreenBtn {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
