<h1 id="h1-username">{{vm.myUsername}}</h1>
<ul id="messages"></ul>
<!-- <ul ng-repeat="user in vm.users track by $index">
  <li>{{user}}</li>
</ul> -->
<form name="sendmsgForm" novalidate ng-submit="sendmsgForm.$valid && vm.sendmsg()">
  <input ng-model="vm.form.sendmsg.msg" autocomplete="off" /><button type="submit">Send</button>
</form>
<h1>Chat!</h1>
<ul id="ul-users"></ul>
<form id="simple-peer-form">
  <textarea id="incoming"></textarea>
  <button type="submit">submit</button>
</form>
<pre id="outgoing"></pre>
